<% @hosts.each do |host| %>
	<tr>
		<td><%= host.location %></td>
		<td><%= host.environment %></td>
		<td><%= host.name %></td>
		<td><%= host.vlan %></td>
		<td><%= host.internal_ip %></td>
		<td><%= host.external_ip %></td>
		<td><%= host.client_name %></td>
		<td><%= host.fqdn %></td>
		<td><%= host.ssl %></td>
		<td><%= host.details %></td>
	</tr>
<% end %>
